### Ligma ###
/ligma/.mvn
/ligma/target
/ligma/src/main/java/ligma/generated/*
/ligma/ligma.jar

### doc ###
/doc/*
!/doc/main.tex
!/doc/main.pdf
!/doc/literatura.bib
!/doc/fasthesis.cls
!/doc/latexmkrc
!/doc/images
!/doc/img

### JetBrains IDE ###
.idea

### VSCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
