### JetBrains IDE ###
.idea
/ligma/.mvn
/ligma/target
/ligma/src/main/java/ligma/generated/*

### VSCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
